body {
  margin: 0;
  background: #e0e0e0;
  font-family: Arial, sans-serif;
}

/* HEADER DE JUNIOR */
header {
  position: relative;
  background: rgb(19, 31, 39);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

header h1 {
  font-size: 2rem;
  margin-top: 20px;
  margin-left: 160px;
  color: white;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 50%;
}

.header-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  margin-bottom: 10px;
}

.main-nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.main-nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color .3s;
}

.main-nav ul li a:hover {
  color: #F39C12;
}

.hamburger {
  display: none;
  flex-direction: column;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

.hamburger span {
  background: white;
  height: 3px;
  border-radius: 2px;
}

@media (max-width: 900px) {
  .header-inner {
    flex-direction: column;
  }

  .main-nav {
    width: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    background: #19443C;
  }

  .main-nav.active {
    display: flex;
  }

  .main-nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .hamburger {
    display: flex;
    margin-top: 10px;
  }
}

.section {
  padding: 120px 20px 80px;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 20px;
  margin-top: 40px;
}

.service-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.site-footer {
  margin-top: 80px;
  background: rgb(19, 31, 39);
  text-align: center;
  padding: 30px;
  color: white;
}

