
        body {
            font-family: Arial, sans-serif;
            background: url('fondo1') no-repeat center center fixed;
            background-size: cover;
            padding: 0;
            margin: 0;
            color: #333333;
        }
        header {
            position: relative;
            background: rgb(19, 31, 39);
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 20px;
        }

        header h1 {
            font-size: 2rem;
            text-align: left;
            width: 100%;
            color: white;
            margin-top: 20px;
            margin-left: 160px;
        }

        .logo {
            position: absolute;
            top: 0;
            left: 0;
        }

        .header-inner {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding-right: 20px;
            margin-bottom: 10px;
        }

        .logo img {
            height: 130px;
            width: 130px;
            object-fit: cover;
            border-radius: 50%;
        }

        .main-nav ul {
            list-style: none;
            display: flex;
            gap: 15px;
        }

        .main-nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s;
        }

        .main-nav ul li a:hover {
            color: #F39C12;
        }

        .info-box, .form-box {
            background: #e0e0e0;
            padding: 20px;
            margin-bottom: 25px;
            border-radius: 8px;
        }

        .map.box {
            background: #e0e0e0;
        }

        input, select {
            width: 50%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        } 
        
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 12px 18px;
            background: #1e1e1e;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        iframe {
            width: 100%;
            border: 0;
            height: 300px;
            border-radius: 8px;
        }
        footer {
            text-align: center;
            padding: 20px;
            background: #1e1e1e;
            color: white;
            margin-top: 30px;
        }

        .info-box, .form-box {
            width: 40%;
            margin: 20px auto;
        }