* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e0e0e0;
}

header {
    position: relative;
    color: white;
    padding: 20px 0;
    background: rgb(19, 31, 39);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header h1 {
    font-size: 2rem;
    text-align: left;
    width: 100%;
    color: white;
    margin-top: 20px;
    margin-left: 180px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.logo img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.header-inner {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;
    width: 100%;
    padding-right: 20px;
    margin-bottom: 20px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.main-nav ul li a:hover {
    color: #F39C12;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    background: white;
    border-radius: 2px;
}


@media (max-width: 900px) {
    .header-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-nav {
        width: 100%;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
        background: #19443C;
    }

    .main-nav.active {
        display: flex;
    }

    .main-nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hamburger {
        display: flex;
        margin-top: 10px;
    }
}



.gallery {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 15px;
}

.img-card {
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.img-card:hover img {
    transform: scale(1.1);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    padding-top: 80px;
}

.modal img {
    display: block;
    margin: auto;
    max-width: 85%;
    max-height: 80vh;
    border-radius: 10px;
    object-fit: contain;
}

#close {
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 45px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
footer {
            margin-top: 40px;
    background: rgb(19, 31, 39);
    text-align: center;
    padding: 30px;
    color: white;
        }